<div>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>email</th>
                <th>Roles</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">

                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <ng-container *ngFor="role of 'user.roles'">
                <td>{{role}}</td>
            </ng-container>
                <td><button>Change Role</button></td>
            </tr>
        </tbody>
    </table>
</div>
